admin.enabled = false
admin.password = 
AmazonS3Cache.access_key_id =
AmazonS3Cache.bucket.name =
AmazonS3Cache.bucket.region =
AmazonS3Cache.object_key_prefix =
AmazonS3Cache.secret_key =
AmazonS3Resolver.access_key_id =
AmazonS3Resolver.bucket.name =
AmazonS3Resolver.bucket.region =
AmazonS3Resolver.lookup_strategy = BasicLookupStrategy
AmazonS3Resolver.secret_key =
auth.basic.enabled = false
auth.basic.secret = mypassword
auth.basic.username = myself
AzureStorageCache.account_key =
AzureStorageCache.account_name =
AzureStorageCache.container_name =
AzureStorageCache.object_key_prefix =
AzureStorageResolver.account_key =
AzureStorageResolver.account_name =
AzureStorageResolver.container_name =
AzureStorageResolver.lookup_strategy = BasicLookupStrategy
base_uri =
cache.client.enabled = true
cache.client.max_age = 2592000
cache.client.must_revalidate = false
cache.client.no_cache = false
cache.client.no_store = false
cache.client.no_transform = true
cache.client.private = false
cache.client.proxy_revalidate = false
cache.client.public = true
cache.client.shared_max_age =
cache.derivative = FilesystemCache
cache.server.purge_missing = false
cache.server.resolve_first = false
cache.server.ttl_seconds = 86400
cache.server.worker.enabled = true
cache.server.worker.interval = 60
cache.source = FilesystemCache
delegate_script.cache.enabled = false
delegate_script.enabled = false
delegate_script.pathname = delegates.rb
endpoint.api.enabled = false
endpoint.api.secret =
endpoint.api.username =
endpoint.iiif.1.enabled = true
endpoint.iiif.2.enabled = true
endpoint.iiif.2.restrict_to_sizes = false
endpoint.iiif.content_disposition = inline
endpoint.iiif.min_tile_size = 1024
FfmpegProcessor.path_to_binaries =
FilesystemCache.dir.depth = 3
FilesystemCache.dir.name_length = 2
FilesystemCache.pathname = /srv/cache
FilesystemResolver.BasicLookupStrategy.path_prefix = /tmp/
FilesystemResolver.BasicLookupStrategy.path_suffix =
FilesystemResolver.lookup_strategy = BasicLookupStrategy
GraphicsMagickProcessor.path_to_binaries =
http.enabled = true
http.host = 0.0.0.0
http.port = 8182
HttpResolver.auth.basic.secret =
HttpResolver.auth.basic.username =
HttpResolver.BasicLookupStrategy.url_prefix =
HttpResolver.BasicLookupStrategy.url_suffix =
HttpResolver.lookup_strategy = BasicLookupStrategy
https.enabled = false
https.host = 0.0.0.0
https.key_password = myPassword
https.key_store_password = myPassword
https.key_store_path = /path/to/keystore.jks
https.key_store_type = JKS
https.port = 8183
ImageMagickProcessor.path_to_binaries = /usr/local/bin
JdbcCache.connection_timeout = 10
JdbcCache.derivative_image_table = derivative_cache
JdbcCache.info_table = info_cache
JdbcCache.password =
JdbcCache.url = jdbc:postgresql://localhost:5432/cantaloupe
JdbcCache.user = postgres
JdbcResolver.connection_timeout = 10
JdbcResolver.password = postgres
JdbcResolver.url = jdbc:postgresql://localhost:5432/my_database
JdbcResolver.user = postgres
KakaduProcessor.path_to_binaries =
log.access.ConsoleAppender.enabled = false
log.access.FileAppender.enabled = false
log.access.FileAppender.pathname = /path/to/logs/access.log
log.access.RollingFileAppender.enabled = false
log.access.RollingFileAppender.pathname = /path/to/logs/access.log
log.access.RollingFileAppender.policy = TimeBasedRollingPolicy
log.access.RollingFileAppender.TimeBasedRollingPolicy.filename_pattern = /path/to/logs/access-%d{yyyy-MM-dd}.log
log.access.RollingFileAppender.TimeBasedRollingPolicy.max_history = 30
log.access.SyslogAppender.enabled = false
log.access.SyslogAppender.facility = LOCAL0
log.access.SyslogAppender.host =
log.access.SyslogAppender.port = 514
log.application.ConsoleAppender.enabled = false
log.application.FileAppender.enabled = false
log.application.FileAppender.pathname = /srv/log/application.log
log.application.level = warn
log.application.RollingFileAppender.enabled = true
log.application.RollingFileAppender.pathname = /srv/log/application.log
log.application.RollingFileAppender.policy = TimeBasedRollingPolicy
log.application.RollingFileAppender.TimeBasedRollingPolicy.filename_pattern = /srv/log/application-%d{yyyy-MM-dd}.log
log.application.RollingFileAppender.TimeBasedRollingPolicy.max_history = 30
log.application.SyslogAppender.enabled = false
log.application.SyslogAppender.facility = LOCAL0
log.application.SyslogAppender.host =
log.application.SyslogAppender.port = 514
max_pixels = 400000000
metadata.preserve = false
metadata.respect_orientation = false
OpenJpegProcessor.path_to_binaries =
overlays.BasicStrategy.image = /path/to/overlay.png
overlays.BasicStrategy.inset = 10
overlays.BasicStrategy.output_height_threshold = 300
overlays.BasicStrategy.output_width_threshold = 400
overlays.BasicStrategy.position = bottom right
overlays.BasicStrategy.string = Copyright \u00A9\u00EF\u00B8\u008F My Great Organization\nAll rights reserved.
overlays.BasicStrategy.string.background.color = rgba(0, 0, 0, 100)
overlays.BasicStrategy.string.color = white
overlays.BasicStrategy.string.font = Helvetica
overlays.BasicStrategy.string.font.min_size = 18
overlays.BasicStrategy.string.font.size = 24
overlays.BasicStrategy.string.font.weight = 1.0
overlays.BasicStrategy.string.glyph_spacing = 0.02
overlays.BasicStrategy.string.stroke.color = black
overlays.BasicStrategy.string.stroke.width = 1
overlays.BasicStrategy.type = image
overlays.enabled = false
overlays.strategy = BasicStrategy
PdfBoxProcessor.dpi = 150
print_stack_trace_on_error_pages = true
processor.avi = FfmpegProcessor
processor.background_color = black
processor.bmp =
processor.dcm =
processor.downscale_filter = bicubic
processor.fallback = Java2dProcessor
processor.gif =
processor.jp2 = OpenJpegProcessor
processor.jpg =
processor.jpg.progressive = true
processor.jpg.quality = 80
processor.mov = FfmpegProcessor
processor.mp4 = FfmpegProcessor
processor.mpg = FfmpegProcessor
processor.normalize = false
processor.pdf = PdfBoxProcessor
processor.png =
processor.sharpen = 0
processor.tif =
processor.tif.compression = LZW
processor.upscale_filter = bicubic
processor.webm = FfmpegProcessor
processor.webp = ImageMagickProcessor
redaction.enabled = false
resolver.delegate = false
resolver.static = HttpResolver
slash_substitute =
StreamProcessor.retrieval_strategy = CacheStrategy
